<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.haltura">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="false"
            tools:replace="android:supportsRtl"
            android:theme="@style/Theme.Haltura"
            android:usesCleartextTraffic="true">
        <!--            tools:replace="android:supportsRTL"-->
        <activity
                android:name=".activities.MainActivity2"
                android:exported="false"
                android:label="@string/title_activity_main2" />
        <activity
                android:name=".activities.LoginActivity"
                android:exported="false"
                android:label="@string/title_activity_login2" />

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyCmEr_uFB3Mb_ew1byfNte1jSuF__IlSB8" />

        <activity
                android:name=".activities.SplashActivity"
                android:exported="true"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.MapsActivity"
                android:exported="true">

            <!-- android:label="test"> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
                android:name=".activities.GoogleSignInActivity"
                android:exported="false" />
        <activity
                android:name=".activities.BusinessAccountActivity"
                android:exported="false" />
        <activity
                android:name=".activities.ChatActivity"
                android:exported="false" />
<!--        <activity-->
<!--                android:name=".activities.ChatsActivity"-->
<!--                android:exported="false" />-->
        <activity
                android:name=".activities.SignUpActivity"
                android:exported="false" />
        <activity
                android:name=".activities.UpdateInformationActivity"
                android:exported="false" />
        <activity
                android:name=".activities.ResetPasswordActivity"
                android:exported="false" />
        <activity
                android:name=".activities.AddWorkActivity"
                android:exported="false" />
        <activity
                android:name=".activities.ForgotYourPasswordActivity"
                android:exported="false" />
        <activity
                android:name=".activities.LoginActivityOld"
                android:exported="false" />
        <activity
                android:name=".activities.MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.Haltura.NoActionBar" />
<!--        <activity-->
<!--                android:name=".activities.MainActivity2"-->
<!--                android:exported="true"-->
<!--                android:label="@string/app_name"-->
<!--                android:theme="@style/Theme.Haltura.NoActionBar" />-->
        <activity
                android:name=".activities.RegisterActivity"
                android:exported="false"
                android:label="@string/title_activity_register"
                android:theme="@style/Theme.Haltura.NoActionBar" />
    </application>

</manifest>